name: Sync Fork

on:
  schedule:
    - cron: '2 6 * * *' # sync once a day
  workflow_dispatch: # on button click

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: r0ps3c/fork-sync@v4
        with:
          base: master
          head: master
  call-workflow:
    uses: r0ps3c/aports/.github/workflows/autosync.yml@3.19-stable
    secrets:
      CALL_REPO_DISPATCH: ${{ secrets.CALL_REPO_DISPATCH }}
